<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a [routerLink]="['/admin/dashboard']" class="brand-link">
      <img src="../../../assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Foyer</span>
    </a>

    <div class="sidebar">

      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../../assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{AdminName.toUpperCase()}}</a>
        </div>
      </div>

      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


          <li class="nav-item">
            <a [routerLink]="['/admin/gestion-foyer']" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Gestion Foyer
                <span class="badge badge-info right">1</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/gestion-universite']" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Gestion Université
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/gestion-bloc']" class="nav-link">
              <i class="nav-icon fas fa-tag"></i>
              <p>
                Gestion Blocs
                <span class="badge badge-info right">4</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/gestion-chambre']" class="nav-link">
              <i class="nav-icon fas fa-columns"></i>
              <p>
                Gestion Chambres
                <span class="badge badge-info right">4</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="pages/calendar.html" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                Gestion Réservation
                <span class="badge badge-info right">4</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/gestion-user']" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Gestion Users
                <span class="badge badge-info right">4</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/gestion-demandes']" class="nav-link">
              <i class="nav-icon fas fa-columns"></i>
              <p>
                Gestion Demande
                <span class="badge badge-info right">4</span>
              </p>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </aside>
