<app-backoffice>
    <div class="table-container">
        <table class="table">
          
            <thead>
              <tr>
                <th scope="col">idChambre</th>
                <th scope="col">numeroChambre</th>
                <th scope="col">type Chambre</th>
                <th scope="col">nom du bloc</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of chambres">
                <td>{{c.idChambre}}</td>
                <td>{{c.numeroChambre}}</td>
                <td>{{c.typeC}}</td>
                <td>  {{c.bloc ? c.bloc.nomBloc : 'NULL'}}</td>
                
                <td>
                  <button   (click)="DeleteChambre(c.idChambre)" class="delete-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                    </svg>
                  </button>
                  <button (click)="editChambre(c.idChambre)" class="edit-button">Edit

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>   
          
          
      </div>
      <a [routerLink]="['/admin/add-chambre']"  class="nav-link add-bloc-button">
       
        <p  class="button-text">
         Ajouter Chambre
          
        </p>
      </a>
</app-backoffice>
