<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-5 col-md-7 mx-auto my-auto">
      <div class="card">
        <div class="card-body px-lg-5 py-lg-5 text-center">
          <img src="./assets/img/ForgotPassword.png" class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
          <h2 class="text-info">Forgot Password</h2>
          <p class="mb-4">Enter your email</p>
          <div class="my-3"><input class="form-control " required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" placeholder="Email" #emailField="ngModel" [(ngModel)]="email"></div>
          <div *ngIf="emailField.invalid && (emailField.touched || emailField.dirty)">
            <div class="m-3 text-danger" *ngIf="emailField.errors!['required']"> Please enter an Email !!</div>
            <div class="m-3 text-danger" *ngIf="emailField.errors!['pattern']"> Not a valid Email !!</div>
          </div>
          <div class="text-center">
            <button type="button" class="btn bg-info btn-lg my-4" (click)="sendCode()">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
