<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-5 col-md-7 mx-auto my-auto">
      <div class="card">
        <div class="card-body px-lg-5 py-lg-5 text-center">
          <img src="./assets/img/VerificationCode.png" class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
          <h2 class="text-info">2FA Security</h2>
          <p class="mb-4">Enter 6-digits code from the email sent to you.</p>
            <div class="row mb-4">
              <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                <input type="text" class="form-control text-lg text-center" maxlength="1" [(ngModel)]="VerificationCode[0]" placeholder="_" aria-label="2fa">
              </div>
              <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                <input type="text" class="form-control text-lg text-center" maxlength="1" [(ngModel)]="VerificationCode[1]" placeholder="_" aria-label="2fa">
              </div>
              <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                <input type="text" class="form-control text-lg text-center" maxlength="1" [(ngModel)]="VerificationCode[2]" placeholder="_" aria-label="2fa">
              </div>
              <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                <input type="text" class="form-control text-lg text-center" maxlength="1" [(ngModel)]="VerificationCode[3]" placeholder="_" aria-label="2fa">
              </div>
              <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                <input type="text" class="form-control text-lg text-center" maxlength="1" [(ngModel)]="VerificationCode[4]" placeholder="_" aria-label="2fa">
              </div>
              <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                <input type="text" class="form-control text-lg text-center" maxlength="1" [(ngModel)]="VerificationCode[5]" placeholder="_" aria-label="2fa">
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn bg-info btn-lg my-4" (click)="verifCode()">Continue</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
