<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-5 col-md-7 mx-auto my-auto">
      <div class="card">
        <div class="card-body px-lg-5 py-lg-5 text-center">
          <img src="./assets/img/SetPassword.png" class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
          <h2 class="text-info">New Password</h2>
          <p class="mb-4">Enter new password</p>
          <div class="my-3"><input class="form-control " required minlength="6" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="password" placeholder="New Password" #newPasswordField="ngModel" [(ngModel)]="newPassword"></div>
          <div *ngIf="newPasswordField.invalid && (newPasswordField.touched || newPasswordField.dirty)">
            <div class="m-3 text-danger" *ngIf="newPasswordField.errors!['required']"> Please enter an a new password !!</div>
            <div class="m-3 text-danger" *ngIf="newPasswordField.errors!['minlength']"> password must at least have 6 caracters !!</div>
          </div>
          <div class="my-3"><input class="form-control " required minlength="6" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="password" placeholder="Confirm Password" #confirmPasswordField="ngModel" [(ngModel)]="confirmPassword"></div>
          <div *ngIf="confirmPasswordField.invalid && (confirmPasswordField.touched || confirmPasswordField.dirty)">
            <div class="m-3 text-danger" *ngIf="confirmPasswordField.errors!['required']"> Please reenter the new password !!</div>
            <div class="m-3 text-danger" *ngIf="confirmPasswordField.errors!['minlength']"> password must at least have 6 caracters !!</div>
            <div class="m-3 text-danger" *ngIf="newPassword != confirmPassword"> password doesn't match the new passsword !!</div>
          </div>
          <div class="text-center">
            <button type="button" class="btn bg-info btn-lg my-4" (click)="setPassword()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
